* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 30px;
    margin: auto;
}
main {
    max-width: 500px;
    margin: auto;
}

        /*      header      */

header {
    height: auto;
    background-color: #F6E497;
}
h1 {
    font-size: 1.4em;
    text-align: center;
    color: rgb(53, 44, 44);
}
nav ul {
    display: flex;
    justify-content: space-around;
}
nav li {
    float: left;
    margin-top: 12px;
    font-size: 1em;
    list-style-type: none;
    padding-bottom: 10px;;
}
a {
    text-decoration: none;
    color: rgb(53, 44, 44);
}
#panier {
    color: red;
    padding-right: 0;
}

    /*      main        */

h2 {
    text-align: center;
    margin: 30px 0 30px 0;
}
h3 {
    margin-top: 15px;
    font-size: 1.3em;
    text-align: center;
}
h4 {
    width: 60%;
    font-style: italic;  
    float: left;
}
label {
    font-weight: bold;
    font-style: italic;  
    float: left;
    margin-bottom: 15px;
}
select {
    font-size: 0.7em;
    margin-bottom: 15px;
}
input {
    font-size: 18px;
    height: 30px;
}
button {
    font-size: 18px;
    padding: 0 2px 0 2px;
    width: 100%;
}
img {
    max-width: 300px;
    height: 250px;
    border-radius: 40%;

}
#ourson article {
    margin: auto;
    padding: 30px 10px 30px 10px;
    overflow-wrap: break-word;
    text-align: center;
}
#lien {
    padding: 0 20px 0 20px;
    background-color: lightgray;
    border-radius: 20px;
}
#formulaire {
    padding: 5px 10px 5px 10px;
}
#formulaire label{
    width: auto;
}
#formulaire input{
    width: 100%;
}
p {
    margin-bottom: 15px;
}
article {
    padding: 20px 10px 20px 10px;
}

#prixTotal {
    margin-top: 20px;
    text-align: center;
}

#recap {
    text-align: center;
    padding: 0 15px 0 15px;
}
    /*      footer        */

footer {
    margin-top: 20px;;
    text-align: center;
    background-color: #F6E497;
}

@media only screen and (min-width: 800px) {

    body {
        width: 100%;
    }
    main {
        min-height: 740px;
        max-width: 800px;
    }
    h1 {
        width: 100%;
    }
    .search {
        width: 100%;
    }
    input {
        width: 50%
    }
    nav {
        width: 100%;
    }
    nav a {
        margin: auto;
    }
    article, form {
        margin: auto;
    }
    #ourson article{
        display: block;
    }
    #ourson h4 {
        width: auto;
        margin-right: 10px;
    }
    #ourson article img{
        display: inline-block;
        height: 300px;
        width: auto;
    }
    #ourson article div{
        display: inline-block;
        text-align: left;
    }
    #produit article{
        display: block;
    }
    #produit p{
        margin-bottom: 5px;
    }
    #produit h3 {
        margin-bottom: 20px;
    }
    #produit h4 {
        width: auto;
        margin-right: 10px;
    }
    #produit article img{
        display: inline-block;
        height: 350px;
        max-width: 350px;
        margin-right: 10px;
    }
    #produit article div{
        display: inline-block;
        text-align: left;
        width: 50%;
    }
    article {
        display: flex;
        align-items: center;
    }
    article div {
        width: 50%
    }
    img {
        margin-right: 50px;
    }
    #prixTotal {
        text-align: left;
        padding-left: 50px;
    }
    #formulaire {
        margin-top: 50px;
        padding-left: 50px;
    }
    #formulaire label{
        width: 80%
    }
    #formulaire button{
        display: inline-block;
        width: 25%;
        margin: 0 5px 0 5px;
    }
}
